@fallback_font: "sans-serif";

.aboutme {
    color: black;
    padding: 8% 20%;
    text-align: center;
    
    a {
        color: black;
    }
    
    .aboutme-person {
        padding-bottom: 30px;
    }
    
    .aboutme-text {
        padding-bottom: 30px;
        
        h2 {
            font-family: "Playfair Display", @fallback_font;
            font-weight: normal;
            font-style: italic;
            font-size: 30px;
            letter-spacing: 2.5px;
            margin-top: 0;
            margin-bottom: 30px;
            
        }
        
        p {
            font-family: "Raleway", @fallback_font;
            font-weight: 500;
            font-style: normal;
            font-size: 12px;
            letter-spacing: 1px;
            margin: 0 0;
        }
    }
    
    .aboutme-signature {
        padding-bottom: 30px;
    }
    
    .aboutme-icons {
        
        ul {
            
            padding: 0 0;
            
            li {
                display: inline-block;
            }
        }
        
        
    }
}