.albums {

    .albums-grid {
        margin-bottom: 8%;
        
        .albums-grid-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            padding: 0 15%;

            a img {
                object-fit: cover;
                min-height: 100%;
                min-width: 100%;
                display: block;
//                Kad uzpildytu tobulai pilnai:
//                    -vietoj <img> daryti <div>, i ji talpinti background image
//                    -nuoroda i elementa palikti inline-style
//                    -kitus background-... parametrus aprasyti css
            }
        }
        .albums-grid-col {
            flex: 1;
            flex-basis: 25%;
        }
    }
    
    .albums-viewall {
        text-align: center;
        
    }
}

.button {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 2em;
    background-color: #303030;
    color: white;
    border: none;
}

@media only screen and (max-width: 768px) {
    .albums .albums-grid .albums-grid-col {
        flex: 1;
        flex-basis: 33%;
    }
}

@media only screen and (max-width: 540px) {
    .albums .albums-grid .albums-grid-col {
        flex: 1;
        flex-basis: 50%;
    }
}