.albums {
    min-height: 100vh;
    padding: 0 15%;
    
    .albums-categories {
        padding: 5% 0;
        
        .type-work {
            display: block;
            text-align: center;
            padding-bottom: 2%;
            font-family: "Raleway", sans-serif;
            font-size: 1.5em;
            text-transform: uppercase;
        }
    
        ul {
            padding: 0 0;
            display: flex;
            justify-content: space-around;

//            li.type-work {
//                font-family: "Raleway", sans-serif;
//                font-size: 1.5em;
//                text-transform: uppercase;
//            }
            
            li {
                display: inline;
                

                a {
                    color: #303030;
                }
            }
        }
    }
    .albums-grid {
        margin-bottom: 5%;
        
        .albums-grid-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
            padding: 0 0;
            

            a img {
                object-fit: cover;
                max-width: 33vh;
                display: block;
//                Kad uzpildytu tobulai pilnai:
//                    -vietoj <img> daryti <div>, i ji talpinti background image
//                    -nuoroda i elementa palikti inline-style
//                    -kitus background-... parametrus aprasyti css
            }
        }
        .albums-item {
            flex: 1;
            flex-basis: 33%;
            padding: 0.3em;
            
        }
    }
    
    .albums-viewall {
        text-align: center;
        
    }
}

.button {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 2em;
    background-color: #303030;
    color: white;
    border: none;
}

@media only screen and (max-width: 768px) {
    .albums .albums-grid .albums-item {
        flex: 1;
        flex-basis: 50%;
    }
}

//@media only screen and (max-width: 540px) {
//    .albums .albums-grid .albums-item {
//        flex: 1;
//        flex-basis: 50%;
//    }
//}