.footer {
    background-color: #141414;
    color: white;
    text-align: center;
    
    .footer-wrapper {
        padding: 0 20%;
        
        .footer-signature {
            padding-top: 3em;
            padding-bottom: 1.5em;
        }

        .footer-text {
            font-family: "Raleway", @fallback_font;
            font-weight: 500;
            font-style: normal;
            font-size: 12px;
            letter-spacing: 1px;
            margin: 0 0;
            color: #515151;
            padding-bottom: 1.5em;
        }

        .footer-icons {
            padding-bottom: 1.5em;
            
            ul {
                padding-left: 0;
                
                .ring {
                    border-color: #4c4c4c;
                }
            }
        }

        .footer-copyright {
            font-family: "Raleway", @fallback_font;
            font-weight: 500;
            font-style: normal;
            font-size: 11px;
            letter-spacing: 1px;
            margin: 0 0;
            color: #4c4c4c;
            padding-bottom: 2em;
        } 
        
        .footer-hr {
            height: 1px;
            border-color: #262626;
            margin: 0 0 1em 0;
        }
    }
}