.services {
    padding: 8% 15%;
    
    .services-body {
        display: flex;
        
        .services-body-img,
        .services-body-text {
            flex: 1;
        }
        
        .services-body-img {
            padding-left: 10%;
            
        }
    }
}